@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  background: linear-gradient(45deg, #fd746c, #ff9068) no-repeat;
}

section {
  height: 800px;
  width: 600px;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.45);
}
